<div class="container-narrow">
  <div class="pull-right">
     <div class="span1 header-social-connect">
         <ul class="nostyle">
             <li><a href="http://facebook.com/pingvini_curling"><span class="entypo-social">&#62222;</span></a></li>
             <li><a href="http://twitter.com/pingvini_curling"><span class="entypo-social">&#62217;</span></a></li>
             <li><a href="http://flickr.com/pingvini_curling"><span class="entypo-social">&#62211;</span></a></li>
             <li><a href="http://instagram.com/pingvini_curling"><span class="entypo-social">&#62253;</span></a></li>
         </ul>
     </div>
  </div>
<div>
<div class="header-logo pull-left">
      <a class="" href="{{ site.baseurl }}/"><img style="margin-top:1px;" src="{{ site.baseurl }}/assets/pic/name2.png" alt="Pingvini" height=30><span style="margin-left:-2px;"></a>

         </div>
         <div class="span3 header-navigation">	
             <ul>
       <li{% if page.title == 'News' %} class="active"{% endif %}><a href="{{ site.baseurl }}/news/">News</a></li>
<li{% if page.title == 'Team' %} class="active"{% endif %}><a href="{{ site.baseurl }}/team/">Team</a></li>
<li{% if page.title == 'Results' %} class="active"{% endif %}><a href="{{ site.baseurl }}/results/">Results</a></li>
<li{% if page.title == 'Sponsors' %} class="active"{% endif %}><a href="{{ site.baseurl }}/sponsors/">Sponsors</a></li>
             </ul>
         </div>

     </div>
            </div>
