<div class="container-narrow">
  <div class="pull-right">
     <div class="span1 header-social-connect">
         <ul class="nostyle">
             <li><a href="http://facebook.com/pingvini_curling"><span class="entypo-social">&#62222;</span></a></li>
             <li><a href="http://twitter.com/pingvini_curling"><span class="entypo-social">&#62217;</span></a></li>
             <li><a href="http://flickr.com/pingvini_curling"><span class="entypo-social">&#62211;</span></a></li>      
             <li><a href="http://instagram.com/pingvini_curling"><span class="entypo-social">&#62253;</span></a></li>
         </ul>
     </div>
  </div>            
<div>
<div class="header-logo pull-left">            
      <a class="" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/pic/stone.png" alt="" height=20 style="margin-top:-3px;"><span style="margin-right:-8px;"> Pin</span>
					<img src="{{ site.baseurl }}/assets/pic/icon.32_2.png" alt="g" height=20><span style="margin-left:-3px;">vini</span></a>
		           
         </div>
         <div class="span3 header-navigation">		   
             <ul>
       <li{% if page.title == 'News' %} class="active"{% endif %}><a href="{{ site.baseurl }}/news/">News</a></li>
			    <li{% if page.title == 'Team' %} class="active"{% endif %}><a href="{{ site.baseurl }}/team/">Team</a></li>
			    <li{% if page.title == 'Results' %} class="active"{% endif %}><a href="{{ site.baseurl }}/results/">Results</a></li>
			    <li{% if page.title == 'Sponsors' %} class="active"{% endif %}><a href="{{ site.baseurl }}/sponsors/">Sponsors</a></li>
             </ul>
         </div>

     </div>
            </div>
