body {
  padding-top: 50px; /* Account for fixed navbar */
}

h1, h2, h3 {
  margin-bottom: 20px;
}

.hsubtitle {
  margin-top: -10px;
  margin-bottom: 20px;
  color: #777777;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 800px;
	position: relative;
}

.container-nav {
  width: 100%;  
  background-color: #303030;    
}

/* Top nav and header
-------------------------------------------------- */

.bs-peng-nav {
  background-color: #303030;
  min-height: 43px;
}

.bs-peng-nav .navbar-toggle{
  margin-bottom: 5px;
  margin-top: 4px;
}
.bs-peng-nav .navbar-brand,
.bs-peng-nav .navbar-brand:hover,
.bs-peng-nav .navbar-brand:focus {
  font-size: 20px;
  padding: 2px 2px;
  margin-top: 6px;
  margin-left: -15px;
  margin-right: 30px;
  max-width: 90px;
}

.bs-peng-nav .navbar-nav > li > a {
  color: #eeeeee;
  padding-bottom: 11px;
  padding-top: 11px;
  font-size: 17px;
  font-weight: 300;
}
.bs-peng-nav .navbar-nav > li > a:hover {
  color: #ffaa22;
}
.bs-peng-nav .navbar-nav > .active > a,
.bs-peng-nav .navbar-nav > .active > a:hover {
  color: #ffaa22;
  background-color: #424242;
}

/* Horizontal description list
-------------------------------------------------- */

.dl-horizontal dd {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
      text-align: left;
      width: 150px;
  }
  .dl-horizontal dd {
    margin-left: 160px;
  }
}

/* Posts
-------------------------------------------------- */

.posts td {
  padding: 3px;
}

